# Copy this file to `smtp.env` and fill in real values (DO NOT commit smtp.env)
# Example SMTP environment variables for local development

Smtp__Enabled=true
Smtp__Host=smtp.gmail.com
Smtp__Port=587
Smtp__EnableSsl=true
Smtp__User=vandakisaeed@gmail.com
Smtp__Pass=kdwxlpbgyoadprbq
Smtp__From=vandakisaeed@gmail.com
